@import url(footer-abajo.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
  margin: 0;
  display: flex;
  min-height: 100vh;   
  flex-direction: column; 
  background-color: rgb(255, 255, 255);     
}

/*header*/
header{
  width: 100%;
  height: 80px;
  margin-top: 0;
  background: red;
  position: fixed;
  padding: 0 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  text-transform: uppercase;
  color: white;
  font-weight: 200;
}

.menu a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.mostrar-menu{
  order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
  text-decoration: underline 5px;
}

#check{
  display: none;
}

/*responsive*/
@media(max-width: 768px){
  /*header*/
  .mostrar-menu,
  .esconder-menu{
    display: block;
  }

  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: red;
    right: -100%;
    top:0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }

  .menu a{
    display: block;
    padding: 20px;
  }

  .esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  
  #check:checked~.menu{
    right: 0;

  }
}

.encabezado-img{
    background-image: url(copafederacion.jpg);
    height: 500px;
    background-size: cover;
    
}

.encabezado{
  background-color: red;
  height: 150px;
}

.texto h3{
  font-size: 30px;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  
}

.texto hr{
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.encabezado h5{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  text-align: justify;
  text-decoration: underline 5px;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}
.encabezado h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-align: justify;
  font-size: 30px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.p{
  text-align: center, justify;
  font-size: 20px;
}

/*-------------------------------------------------------FOOTER--------------------------------------------------------*/
.footer{
  width: 100%;
  margin-top: 30px;
  background-color: black;

}
.footer .grupo-1{
  width: 100%;
  min-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px, 0px;
}

.footer .grupo-1 .box figure{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.footer .grupo-1 .box figure img{
width: 100px;
}

.footer .grupo-1 .box h2{
  color: rgb(245, 4, 4);
  margin-bottom: 25px;
  font-size: 20px;
}

.footer .grupo-1 .box p{
  color: white;
  margin-bottom: 10px;
}

.footer .grupo-1 .social-links a{
display: inline-block;
text-decoration: none;
width: 45px;
height: 45px;
line-height: 45px;
color: white;
margin-right: 10px;
background-color: rgb(14, 13, 13);
text-align: center;
transition: all 300ms ease;
}

.footer .grupo-1 .social-links a:hover{
  color: red;
}
.footer .grupo-2{
  background-color: #1f1e1e;
  padding: 15px 10px;
  text-align: center;
  color: white;
  
}

.footer .grupo-2 small{
  font-size: 15px;
}

@media (max-width:800px) {
  .footer .grupo-1{
    width: 90%;
    min-width: 1200px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px, 0px;
  }
}