@import url(footer-abajo.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
  margin: 0;
  display: flex;
  min-height: 100vh;   
  flex-direction: column; 
  background-color: rgb(255, 255, 255);     
}

/*header*/
header{
  width: 100%;
  height: 80px;
  margin-top: 0;
  background: red;
  position: fixed;
  padding: 0 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  text-transform: uppercase;
  color: white;
  font-weight: 200;
}

.menu a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.mostrar-menu{
  order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
  text-decoration: underline 5px;
}

#check{
  display: none;
}

/*responsive*/
@media(max-width: 768px){
  /*header*/
  .mostrar-menu,
  .esconder-menu{
    display: block;
  }

  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: red;
    right: -100%;
    top:0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }

  .menu a{
    display: block;
    padding: 20px;
  }

  .esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  
  #check:checked~.menu{
    right: 0;

  }
}
/*---------------------------------------------------carro------------------------------------------------------*/
.carrusel-1{
  margin-top: 80px;
  background: red;
  height: 530px ;
}
.carrousel{
  width: 100%;
  
  
}

.conteCarrousel{
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.conteCarrousel .itemCarrousel .info{
  position: absolute;
  bottom: 0;
  padding: 20px 30px;
}

.conteCarrousel .itemCarrousel .info h2{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px; 
    margin-left: 30px;
}

.conteCarrousel .itemCarrousel .info p{
   color: red;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 40px;
   background: white;
   width: 65%;
   padding: 50px;
   border-radius: 10px;
   margin-left: 30px;
}
.itemCarrousel{
  position: relative;
  width: 100%;
  height: 500px;
  justify-content: center;
}

.itemCarrouselTarjeta{
  width: 100%;
  height: 500px;
  justify-content: center;
}
.itemCarrouselTarjeta img{
  width: 100%;
  height: 100%;
  background-size: cover;
  justify-content: center;
  
}
.itemCarrouselArrows{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; 
}

.itemCarrouselArrows > i:hover {
  cursor: pointer;
}



.conteCarrouselController{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.conteCarrouselController > a{
  text-decoration: none;
  font-size: 2em;
  color: grey;
}

.itemCarrouselArrows > a > i{
  color: white;
}

/*-------------------------------------------------seccion noticias-------------------------------------------------*/
.noticias{
  
 padding: 40px;
}

.noticias h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-decoration: underline;
  text-align: center;
  padding: 10px;
  background-color: red;
  margin: 20px;
}
.post-list-2{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
}

.content-2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.post-img{
  background: url(Defensores-Juventud-Humboldt-7.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-2{
  background: url(copafederacion.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-3{
  background: url(juve.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-4{
  background: url(portada-aldao-juventud.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-5{
  background: url(tiro-1-1021x580.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-6{
  background: url(equipo.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-2{
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, .2);
}

.post-header-2{
  width: 100%;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.post-2:hover .post-img,
.post-2:hover .post-img-2,
.post-2:hover .post-img-3,
.post-2:hover .post-img-4,
.post-2:hover .post-img-5,
.post-2:hover .post-img-6{
  transform: scale(1.1);
}

.post-body-2{
  padding: 15px;
  text-align: center;
}

.post-body-2 span{
  display: inline-block;
  color: red;
  margin-bottom: 10px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.post-body-2 p{
  line-height: 1.5;
  margin-bottom: 20px;
  color: red;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
}
/*respnsivo*/
@media (max-width:840px){
  .content-2{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:600px){
  .content-2{
    grid-template-columns: repeat(1, 1fr);
  }
}
/*---------------------------------------------------NOTICIAS HOCKEY-------------------------------------------------*/
.hockey{
  background: white;
}
.hockey h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: underline;
    text-align: center;
    padding: 10px;
    background-color: red;
    margin: 20px;
}
.post-list-3{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.content-3{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 1200px;
  min-height: 500px;
  margin: auto;

  
}

.post-img-8{
  background: url(chicasjuventud.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}
.post-img-9{
  background: url(IMG-20190721-WA0020.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-3{
  box-shadow: 0 1px 6px 1px rgba(0,0,0,.1);
  overflow: hidden;
  transition: .2s;
  background: red;
}

.post-3:hover{
  transform: translateY(-4px);
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .15);
}

.post-header-3{
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.post-3:hover .post-img-8,
.post-3:hover .post-img-9{
  transform: scale(1.1);
}

.post-body-3{
  padding: 15px;
  text-align: center;
}

.post-body-3 span{
  display: inline-block;
  color: rgb(179, 177, 177);
  margin-bottom: 10px;
}

.post-body-3 h2{
  margin-bottom: 15px;
}

.post-body-3 p{
  line-height: 1.5;
  margin-bottom: 20px;
  color: white;
  text-align: left;
}

.post-body-3 .post-link{
  display: block;
  text-decoration: none;
  padding: 10px;
  background: white;
  width: 50%;
  margin: auto;
  border-radius: 20px;
}

.post-body-3 .post-link:hover{
  background: rgb(204, 18, 18);
}

/*respnsivo*/
@media (max-width:840px){
  .content-3{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:600px){
  .content-3{
    grid-template-columns: repeat(1, 1fr);
  }
}

/*-----------------------------------------------carrousel equipacion--------------------------------------------------*/
.equipacion{
  background-color: red;
  margin-top: 20px;
}
.equipacion h1{
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  margin: 50px;
  background-color: red;
  padding: 15px;
}

.owl-container{
  max-width: 900px;
  margin: 0 auto;

}
.item img{
  justify-content: center;
  align-items: center;
  height: 20rem;
  display: flex;
  border: 10px solid white;
  
}
/*-------------------------------------------------------FOOTER--------------------------------------------------------*/
.footer{
  width: 100%;
  margin-top: 30px;
  background-color: black;

}
.footer .grupo-1{
  width: 100%;
  min-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px, 0px;
}

.footer .grupo-1 .box figure{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.footer .grupo-1 .box figure img{
width: 100px;
}

.footer .grupo-1 .box h2{
  color: rgb(245, 4, 4);
  margin-bottom: 25px;
  font-size: 20px;
}

.footer .grupo-1 .box p{
  color: white;
  margin-bottom: 10px;
}

.footer .grupo-1 .social-links a{
display: inline-block;
text-decoration: none;
width: 45px;
height: 45px;
line-height: 45px;
color: white;
margin-right: 10px;
background-color: rgb(14, 13, 13);
text-align: center;
transition: all 300ms ease;
}

.footer .grupo-1 .social-links a:hover{
  color: red;
}
.footer .grupo-2{
  background-color: #1f1e1e;
  padding: 15px 10px;
  text-align: center;
  color: white;
  
}

.footer .grupo-2 small{
  font-size: 15px;
}

@media (max-width:800px) {
  .footer .grupo-1{
    width: 90%;
    min-width: 1200px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px, 0px;
  }
}