*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body{
margin: 0;
margin-top: 0;
display: flex;
min-height: 100vh;   
flex-direction: column; 
background: white;    
}

/*header*/
header{
  width: 100%;
  height: 80px;
  background: red;
  position: fixed;
  z-index: +1;
  padding: 0 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo{
  text-transform: uppercase;
  color: white;
  font-weight: 200;
}

.menu a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.mostrar-menu{
  order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
  text-decoration: underline 5px;
}

#check{
  display: none;
}

/*responsive*/
@media(max-width: 768px){
  /*header*/
  .mostrar-menu,
  .esconder-menu{
    display: block;
  }

  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: red;
    right: -100%;
    top:0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }

  .menu a{
    display: block;
    padding: 20px;
  }

  .esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  
  #check:checked~.menu{
    right: 0;

  }
}

.contenedor-1{
  background: red;
  
  
}
.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
  margin-top: 60px;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
  height: 300px;
  background-size: cover;
	margin-top: 30px;
  border: solid 10px white;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: normal;
	font-size: 40px;
  color: white;
  text-decoration: underline;
}

.contenido-principal__resumen {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	line-height: 30px;
	color: white;
  font-size: 20px;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento p {
	text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color: white;
}

.carousel__elemento img{
  width: 100%;
  height: 200px;
  padding: 15px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}
.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}



.noticias h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
  color: red;
  padding: 20px;
  font-size: 40px;
  text-decoration: underline;
  margin-left: 55px;
  
}
.post-list-2{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
}

.content-2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.post-img{
  background: url(Defensores-Juventud-Humboldt-7.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-2{
  background: url(reserva.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-3{
  background: url(juve.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-4{
  background: url(portada-aldao-juventud.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-5{
  background: url(copa.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-6{
  background: url(equipo.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-7{
  background: url(clasico.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-8{
  background: url(sancarlos.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-9{
  background: url(Screenshot_20230828-094928.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-10{
  background: url(tiro-1-1021x580.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-11{
  background: url(Copa-Federación-2020-Dep-Aldao.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-12{
  background: url(DSCN41911-1024x685.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}
.post-2{
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, .2);
}

.post-header-2{
  width: 100%;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.post-2:hover .post-img,
.post-2:hover .post-img-2,
.post-2:hover .post-img-3,
.post-2:hover .post-img-4,
.post-2:hover .post-img-5,
.post-2:hover .post-img-6,
.post-2:hover .post-img-7,
.post-2:hover .post-img-8,
.post-2:hover .post-img-9,
.post-2:hover .post-img-10,
.post-2:hover .post-img-11,
.post-2:hover .post-img-12{
  transform: scale(1.1);
}

.post-body-2{
  padding: 15px;
  text-align: center;
}

.post-body-2 span{
  display: inline-block;
  color: red;
  margin-bottom: 10px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.post-body-2 p{
  line-height: 1.5;
  margin-bottom: 20px;
  color: red;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
}
/*respnsivo*/
@media (max-width:840px){
  .content-2{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:600px){
  .content-2{
    grid-template-columns: repeat(1, 1fr);
  }
}
/*FOOTER*/
.footer{
  width: 100%;
  margin-top: 30px;
  background-color: black;

}
.footer .grupo-1{
  width: 100%;
  min-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px, 0px;
}

.footer .grupo-1 .box figure{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.footer .grupo-1 .box figure img{
width: 100px;
}

.footer .grupo-1 .box h2{
  color: rgb(245, 4, 4);
  margin-bottom: 25px;
  font-size: 20px;
}

.footer .grupo-1 .box p{
  color: white;
  margin-bottom: 10px;
}

.footer .grupo-1 .social-links a{
display: inline-block;
text-decoration: none;
width: 45px;
height: 45px;
line-height: 45px;
color: white;
margin-right: 10px;
background-color: rgb(14, 13, 13);
text-align: center;
transition: all 300ms ease;
}

.footer .grupo-1 .social-links a:hover{
  color: red;
}
.footer .grupo-2{
  background-color: #1f1e1e;
  padding: 15px 10px;
  text-align: center;
  color: white;
  
}

.footer .grupo-2 small{
  font-size: 15px;
}

@media (max-width:800px) {
  .footer .grupo-1{
    width: 100%;
    min-width: 1000px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px, 0px;
  }
}